#quote{
    text-align: center;
    font-size: 350%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #5c3cab;
}

#aboutUs{
    margin-left: 3%;
    margin-right: 3%;
}

#aboutUs p{
    margin-left: 1%;
    margin-right: 1%;
}

/*TODO Scale down for mobiles */
#video{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
