
#footer{
    text-align: center;
    color: #f6f3fb;
    background-color: #7955d4;
    padding: 10px;
}

#images{
    margin: 0 auto;
    margin-top: 10px;
}

#images img{
    width: 40px; 
    height: auto; 
    margin: 0 5px; 
    display: inline-block;
}

#footer a{
    color:  #f6f3fb;
    margin-right: 5px;
    margin-left: 5px;

    text-decoration: none;
}

#footer p{
    margin-top: 30px;
}