


body{
  background-image: linear-gradient(to right,#c4a9f9, #f6f3fb);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-size:200vw 200vh;
  background-position: center;
}